build
*~
doc/**/*.html
CMakeCache.txt
CMakeFiles/3.19.0/CMakeCCompiler.cmake
CMakeFiles/3.19.0/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.19.0/CMakeRCCompiler.cmake
CMakeFiles/3.19.0/CMakeSystem.cmake
CMakeFiles/3.19.0/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.19.0/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.19.0/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.19.0/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.19.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.19.0/VCTargetsPath.txt
CMakeFiles/3.19.0/VCTargetsPath.vcxproj
CMakeFiles/3.19.0/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.19.0/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/generate.stamp.list
nbproject/configurations.xml
nbproject/private/c_standard_headers_indexer.c
nbproject/private/CodeAssistancePathMapper.properties
nbproject/private/configurations.xml
nbproject/private/cpp_standard_headers_indexer.cpp
nbproject/private/Default-build.log
nbproject/private/Default-exec.log
nbproject/private/Default.properties
nbproject/private/launcher.properties
nbproject/private/private.xml
nbproject/private/tools/localhost/MinGW/g++.exe
nbproject/private/tools/localhost/MinGW/gcc.exe
nbproject/project.xml
